<header class="header  mp-header has-background-grey-dark ">
    <section class="section">
        <div class="has-text-primary">

            <nav class="navbar level-left has-background-grey-dark redes-trabalho">
                <ul class="navbar-brand ">
                    <li>
                        <a class="navbar-item has-text-primary github" id="" href="https://github.com/kusmin" target="_blank" rel="noopener noreferrer"></a>
                    </li>
                    <li>
                        <a class="navbar-item has-text-primary linkedin" id="" href="https://www.linkedin.com/in/renan-ribeiro-b1368872/" target="_blank" rel="noopener noreferrer"></a>
                    </li>
                </ul>
            </nav>
            <nav class="navbar level-right has-background-grey-dark ">
                <ul class="navbar-menu is-active" style="background-color: #4a4a4a !important">
                    {% for item in site.data.navigation %}
                        <li>
                            <a href="{{item.link}}" class="navbar-item has-text-primary">{{item.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </section>
</header>