<div class="container">
        <section class="section is-medium">

            <div class="hero">
                <h1 class="title has-text-centered">{{page.title}}</h1>
                <!-- <figure class="image is-128x128"> -->
                        <!-- <img src="{{page.image}}" alt=""> -->
                <!-- </figure> -->
                <br>
                <p class="subtitle">{{page.description}}</p>
                        <div class="hero-body is-small">
                                {{content}}
                        </div>
                </div>
                
        </section>
</div>